"env": {
    "LOG_LEVEL": "DEBUG",
    "RUN_AS_SERVICE": "False",
    "MIN_SLEEP": "0",
    "MAX_SLEEP": "1",
    "DRY_RUN": "False",
    "SOURCE": "https://api.binance.com/api/v3/",
    "TARGET": "TARGET=user=dev_user password=d3v_pass host=localhost port=5432 dbname=binance",
    "SYMBOL": "True",
    "KLINE_1D": "False",
    "DATAPOINT_LIMIT": "1000",
    "SHARD": "0",
}
